.header{
	background-color:#f7f7f7;
	height: 30px;
	line-height: 30px;
}
.collection{
	background: url(../img/xingxing.png) no-repeat left center;
	text-indent: 18px;
	color:#666666;
	cursor: pointer;
}
.topBar{
	height: 86px;
	background-color: #1d7ad9;
	
}
.logo{
	padding-left: 38px;
	padding-top: 13px;
}
.search{
	width: 430px;
	height: 36px;
	padding: 24px 0px 0px 186px;
	line-height: 36px;
}
.search-text{
	width: 350px;
	height: 36px;
	line-height: 36px\9;
	padding: 0px 5px;
	
}
.search-btn{
	width: 70px;
	height: 36px;
	background-color: #ff8c00;
	color: white;
	cursor: pointer;
}
.shop{
	width: 146px;
	height: 36px;
	line-height: 36px;
	background-color: #ff8c00;
	margin: 24px 59px 0px 0px;
	font-size: 14px;
	color: white;
}
.shop-car {
	
	width: 87px;
	height: 100%;
	border-right: 1px solid ;
	background: url(../img/shopcar.png)no-repeat 10px center;
	text-indent: 40px;
}
.shop-num{
	width: 27px;
	height: 100%;
	border-left:1px solid  #e27a00;
	text-align: right;
	padding-right: 30px;
	background: url(../img/ico.png)no-repeat 34px center;
}
.navBox{
	height: 36px;
	background-color: #1369c0;
}
.shopClass{
	position:relative;
}
.shopClass h3{
	width: 189px;
	line-height: 36px;
	color: white;
	background: url(../img/jiantou.png)no-repeat 148px center;
	text-indent: 39px;
}
.nav li{
	float:left;
	font-size: 14px;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
	.nav li a{
		color:white;
	}
.nav li:hover{
	background-color: #4593fd;
}
.nactive{
	background-color: #4593fd;
}
.shopclass-show{
	position: absolute;
	left: 0;
	top:36px;
	width: 100%;
}
.shopclass-show dt{
	font-size: 14px;
	height: 22px;
	font-weight: bold;
	background: url(../img/jt.png) no-repeat right center;
}
.shopclass-show dd{
	font-size: 12px;
}
.shopclass-item {
	padding: 14px 10px;
	background: #4593fd;
	color: white;
	border-bottom: 1px solid #3487f2;
}
.shopclass-item a{
	color: white;
	
}
.shopclass-item .b{width: 48px;
height: 20px;
	background: url(../img/bg.png)no-repeat left center;
	display: inline-block;
	line-height: 20px;
}
.shopclass-list{
	width: 568px;
	
	border: 1px solid blue;
	position: absolute;
	left:190px;
	top:36px;
	background: white;
}
.shoplist-item{
	padding: 10px 0;
	font-size: 14px;
	border-bottom: 1px solid blue;
}
.shoplist-item dt{
     height: 24px;
	font-weight: bold;
	color: #4b88da;
	
	line-height: 24px;
}
.shoplist-item dd{
   line-height: 24px;
	padding-left:68px;
	margin-top: -24px;
}
.shoplist-item dd a{
	margin-right: 10px;
}
.shoplist-cont{
	padding: 0 10px;
}
.shoplist-link {
	

padding:15px 0;
	
}
.shoplist-link a{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	color: white;
	font-size: 12px;
	background-color: #2785e6;
	padding:0 14px 0 8px;
}
.shoplist-link span{
	width: 11px;height: 7px;
	background: url(../img/bgbb.png)left center no-repeat;
	display: inline-block;
	margin-left: 7px;
}
.banner{
	margin-bottom: 15px;
}
.banner-bar{
	
	float: right;
	position: relative;
	overflow: hidden;
}

.imgBox img{
	
	display: block;
}
.imgBox{
	
	position:absolute;
	left:px;
	top:0;
	
}
.imgBox li{
	float:left;
}
.imgNum{
	position: absolute;left:0;bottom: 15px;width: 100%;text-align: center;
}
.imgNum a{
	width: 20px;
	height: 5px;
	background: #FFF;
	overflow: hidden;
	display:inline-block;
	margin: 0 3px;
}
.imgNum .active{
	background-color: yellow;
}
.banner-big,
.banner-big img{
	width: 810px;
	height: 326px;
	
}
.banner-big .imgBox{
	width: 1620px;
	height: 326px;
}
.banner-sm,
.banner-sm img{
	width: 190px;
	height: 400px;
}
.banner-sm .imgBox{
	width: 380px;height: 400px;
}
/*标题*/
.shopTit{
	
	height: 44px;
	font:"microsoft yahei","微软雅黑";
	line-height: 44px;
	margin-bottom: 15px;
}
.shopTit h3{
	font-size: 24px;
	float: left;
	padding-left: 15px;
	font-weight: bold;
}
.icon{
	width: 44px;
	height: 44px;
	
	background: url(../img/shopTItlogo.png)no-repeat left top;
	float:left;
	
}
.more{
	float:right
}
.more:hover{
	text-decoration:underline;
}
.shopList .leftArea{
	width: 190px;
}
.shopList .rightArea{
	width: 808px;
	border:1px solid #999 ;
	border-bottom: 3px solid yellow;
	height: 396px;
	overflow: hidden;
}

.shop-iteam{
	width: 202px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	height: 279px;
	text-align: center;
	
}
.shopList-top,
.shopList-sm{
	margin-right: -4px;
}
.shop-img{
	height: 218px;
	
}
.shop-img img{
	padding-top: 45px;
}
.shop-iteam h3{
	font-family: "microsoft yahei","微软雅黑";
	font-size: 16px;
}
.shop-iteam p{
	font-size: 14px;
	color:#ff7300;
	line-height: 21px;
}
.shopSm-item{
	width: 202px;
	border-right:1px solid #999;
	height: 118px;
}
.shopSm-img{
	width: 90px;
	
	
}
.shopSm-img img{
	width: 70px;
	height: 66px;
	padding-top: 30px;
	padding-left: 15px;
}
.shopSm-text{
	width: 112px;
	line-height: 24px;
	padding-top: 26px;
}
.shopSm-text p{
	font-size: 12px;
	color: #ff7300;
}
.shopList{
	margin-bottom: 15px;
}
.footer{
	margin-top: 40px;
	height: 230px;
	background-color: #d4d4d4;
	margin-bottom: 10px;
	text-align: center;
}

.footer-text{
	font-size: 12px;
	font-family: "microsoft yahei","微软雅黑";
	line-height: 26px;
	padding-top: 50px;
}
.footer-img{
	padding-top: 30px;
}
.footer-img img{
	margin-right: 25px;
}
/*产品分类*/
.product{
	
	width: 184px;
	background-color: #f3f3f3;
	border: 1px solid #cdcdcd;
	overflow: hidden;
}
.product-top{
	height: 36px;
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	color: #555555;
	font-weight: bold;
}
.item-nav{

	font-size: 12px;


	padding: 3px 0 3px 20px;
	color: #555555;
	border-bottom: 1px dotted #cdcdcd;
	
}
.item-nav h5{
	font-weight: bold;
}
.item-nav span{
	padding-left: 35px;
}

.itemNav-bg{
	line-height: 26px;
    height: 130px;
}
.itemNav-sm{
	line-height: 22px;
	height: 110px;
}
.itemNav-md{
	line-height: 22px;
	
}
